{% extends 'base.html' %} {% block content %}

<h1>Catálogo de Produtos</h1>

{% for produto in produtos %}

<div>
  <h2>{{ produto.nome }}</h2>

  <p>Disponível: {{ produto.disponivel }}</p>

  <form method="POST" action="{% url 'adicionar_carrinho' produto.id %}">
    {% csrf_token %}

    <input
      type="number"
      name="quantidade"
      min="1"
      max="{{ produto.disponivel }}"
      value="1"
    />

    <button type="submit">Adicionar ao carrinho</button>
  </form>
</div>

{% endfor %} {% endblock %}
